In [1]:
import pandas as pd
import numpy as np
import string
from datetime import datetime
import statistics
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler

plt.rcParams["figure.figsize"]=(20, 10)

### Dataset

Used Cars Dataset
Vehicles listings from Craigslist.org

https://www.kaggle.com/austinreese/craigslist-carstrucks-data

In [2]:
data_set = pd.read_csv('vehicles.csv')

In [3]:
data_set.head()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600

### Dataset motivation

ML type: regression

### Visualization

In [4]:
def drop_columns(data_set, columns_to_drop: list):
    data_set.drop(columns_to_drop, axis='columns', inplace=True)

In [5]:
drop_columns(data_set, ['id', 'url', 'region', 'region_url', 'VIN', 'image_url', 'description', 'drive', 'size', 'state', 'lat', 'long', 'type', 'paint_color', 'posting_date'])

In [6]:
data_set.rename(columns = {'Unnamed: 0':'id'}, inplace = True)

In [7]:
data_set.manufacturer.describe()

count     439993
unique        43
top         ford
freq       79666
Name: manufacturer, dtype: object

In [8]:
data_set.isnull().any()

id              False
price           False
year             True
manufacturer     True
model            True
condition        True
cylinders        True
fuel             True
odometer         True
title_status     True
transmission     True
dtype: bool

In [9]:
data_set.head()

,id,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission
0,0,35990,2010.0,chevrolet,corvette grand sport,good,8 cylinders,gas,32742.0,clean,other
1,1,7500,2014.0,hyundai,sonata,excellent,4 cylinders,gas,93600.0,clean,automatic
2,2,4900,2006.0,bmw,x3 3.0i,good,6 cylinders,gas,87046.0,clean,automatic
3,3,2000,1974.0,chevrolet,c-10,good,4 cylinders,gas,190000.0,clean,automatic
4,4,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,diesel,116000.0,lien,automatic

### Identify outliers