In [1]:
import pandas as pd

In [2]:
book_dict = {
    "Tytuł": pd.Series(["Nie-Boska komedia", "Hamlet", "Tajemniczy ogród", "Quo vadis", "Pinokio"]),
    "Wydawnictwo": pd.Series(["GREG", "Polskapresse", "GREG", "GREG", "MEA"]),
    "Rok wydania": pd.Series([2009, 2005, 2004, 2006, 2001]),
    "Liczba stron": pd.Series([110, 160, 224, 459, 64])
}

books = pd.DataFrame(book_dict)
books

               Tytuł   Wydawnictwo  Rok wydania  Liczba stron
0  Nie-Boska komedia          GREG         2009           110
1             Hamlet  Polskapresse         2005           160
2   Tajemniczy ogród          GREG         2004           224
3          Quo vadis          GREG         2006           459
4            Pinokio           MEA         2001            64

## Dwa pierwsze rekordy

In [3]:
books.iloc[0:2]

               Tytuł   Wydawnictwo  Rok wydania  Liczba stron
0  Nie-Boska komedia          GREG         2009           110
1             Hamlet  Polskapresse         2005           160

## Dwie dowolne kolumny

In [4]:
books[["Tytuł", "Liczba stron"]]

               Tytuł  Liczba stron
0  Nie-Boska komedia           110
1             Hamlet           160
2   Tajemniczy ogród           224
3          Quo vadis           459
4            Pinokio            64

## Modyfikacja komórki

In [6]:
new_books = books.copy()
new_books.at[3, 'Tytuł'] = 'QUO_VADIS'

               Tytuł   Wydawnictwo  Rok wydania  Liczba stron
0  Nie-Boska komedia          GREG         2009           110
1             Hamlet  Polskapresse         2005           160
2   Tajemniczy ogród          GREG         2004           224
3          QUO_VADIS          GREG         2006           459
4            Pinokio           MEA         2001            64

## Zapis do csv

In [8]:
try:
    new_books.to_excel("books.xlsx", sheet_name='Books')
except ImportError as e:
    print(e)