Lists and tuples<br>
= compound data types
= key types of data structures in Python

**<font color=Red> Tuples </font>**<br>
are an ordered sequence

In [1]:
ratings=(1,2,3,4,5,7,9,10)
ratings

(1, 2, 3, 4, 5, 7, 9, 10)

In [2]:
t1=('sth', 3.14, 1)
type(t1)

tuple

In [3]:
#elements available by index
t1[0], t1[1], t1[2]

('sth', 3.14, 1)

In [4]:
#negative index
t1[-3], t1[-2], t1[-1]

('sth', 3.14, 1)

In [5]:
t2=('sth else', 3.3) + t1
t2

('sth else', 3.3, 'sth', 3.14, 1)

In [6]:
t2=t1+('sth else', 3.3)
t2

('sth', 3.14, 1, 'sth else', 3.3)

In [7]:
#slicing (the last index is 1 larger than the index you want)
t2[0:2]

('sth', 3.14)

In [8]:
#length of tuple
len(t2), len(('ss', 12, 3.9))

(5, 3)

In [9]:
#tuples cannot be changed
#tuples can be referenced from more names
t3=t2

In [10]:
print(t2)
print(t3)

('sth', 3.14, 1, 'sth else', 3.3)
('sth', 3.14, 1, 'sth else', 3.3)

In [11]:
t2=(9,3,5)
print(t2)
print(t3)

(9, 3, 5)
('sth', 3.14, 1, 'sth else', 3.3)

In [12]:
t2sorted=sorted(t2)
t2sorted

[3, 5, 9]

In [13]:
#nesting
t4=((1,2),('a',(6,7)),('ala', 'bela'))
t4

((1, 2), ('a', (6, 7)), ('ala', 'bela'))

In [14]:
t4[1][1][0]

6

**<font color=Red> Lists </font>**<br>
are also ordered sequence

In [15]:
l1=['1', 'ss', 12.3]
l1

['1', 'ss', 12.3]

In [16]:
#nesting
l2=[l1, ('c1', 8.9), (1, (1.2, 1.3))]
l2

[['1', 'ss', 12.3], ('c1', 8.9), (1, (1.2, 1.3))]

In [17]:
#indexing
l2[0], l2[1:3]

(['1', 'ss', 12.3], [('c1', 8.9), (1, (1.2, 1.3))])

In [18]:
l2[1][1]

8.9

In [19]:
#negative indexing
l2[-3], l2[-1]

(['1', 'ss', 12.3], (1, (1.2, 1.3)))

In [20]:
l2[-3][2]

12.3

In [21]:
#slicing (the last index is 1 larger than the index you want)
l2[1:3]

[('c1', 8.9), (1, (1.2, 1.3))]

In [22]:
#concatenation
l=l2+['a', 'b']
l

[['1', 'ss', 12.3], ('c1', 8.9), (1, (1.2, 1.3)), 'a', 'b']

In [23]:
#lists are mutable (can be changed)
l2.extend(['v', 7])
print(l2)

[['1', 'ss', 12.3], ('c1', 8.9), (1, (1.2, 1.3)), 'v', 7]

In [24]:
l2.append(['v2', 5])
l2

[['1', 'ss', 12.3], ('c1', 8.9), (1, (1.2, 1.3)), 'v', 7, ['v2', 5]]

In [25]:
l2[0]='sth else'
l2

['sth else', ('c1', 8.9), (1, (1.2, 1.3)), 'v', 7, ['v2', 5]]

In [26]:
del(l2[0])
l2

[('c1', 8.9), (1, (1.2, 1.3)), 'v', 7, ['v2', 5]]

In [27]:
del(l2[1])
l2

[('c1', 8.9), 'v', 7, ['v2', 5]]

In [28]:
#for split() separator is space
"me too".split()

['me', 'too']

In [29]:
"A,B;C".split(",")

['A', 'B;C']

In [30]:
#referencing (multiple names referring to the same object is known as aliasing)
l3=l2
l3

[('c1', 8.9), 'v', 7, ['v2', 5]]

In [31]:
#both references (aliases) change since they reference to the same list
l2[0]="banana"
l3

['banana', 'v', 7, ['v2', 5]]

In [32]:
#copy = clone is a new instance
l3=l2[:]
l3

['banana', 'v', 7, ['v2', 5]]

In [33]:
l2[2]='o'
print(l2)
print(l3)

['banana', 'v', 'o', ['v2', 5]]
['banana', 'v', 7, ['v2', 5]]

In [34]:
len(l2)

4

In [35]:
#help referenced to objects
#help on lists
help(l2)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [36]:
#help on tuples
#help(t1)

In [37]:
#help on string
#help(str)

In [38]:
#help(float)

In [39]:
#help(int)

In [40]:
#help(bool)

**<font color=Red> Sets </font>**<br>
a type collection -> you can input different types<br>
unordered (no element position)<br>
only unique elements

In [41]:
#duplicated items will be removed
set1={'a', 'b', 'c', 'a', 'f', 'b'}
set1, len(set1)

({'a', 'b', 'c', 'f'}, 4)

In [42]:
#type-casting
#type((1, 2.3, 'ala'))  #tuple
set((1, 2.3, 'ala'))   #set from tuple, see curly braces which mean it is a set:

{1, 2.3, 'ala'}

In [43]:
set(['gg', '10', 1.2]) #set from list

{1.2, '10', 'gg'}

In [44]:
A={"a", "b", "c", "a"}
A.add(1)
A

{1, 'a', 'b', 'c'}

In [45]:
#nothing happens, no duplicates
A.add(1)
A

{1, 'a', 'b', 'c'}

In [46]:
A.remove('b')
A

{1, 'a', 'c'}

In [47]:
#verify if element is within the set
"a" in A

True

In [48]:
'a' in A

True

In [49]:
'd' in A

False

In [50]:
#sets arithmetics
A={'a', 'b', 'c', 'c', 12, 3}
B={'a', 'd', 'd', 'e', 12, 5}
#intersection
C=A&B        #or
#C=A.intersection(B)
C

{12, 'a'}

In [51]:
#union
D=A.union(B)
D

{12, 3, 5, 'a', 'b', 'c', 'd', 'e'}

In [52]:
#check if subset
A.issubset(B)

False

In [53]:
#difference
A.difference(B)

{3, 'b', 'c'}

In [54]:
B.difference(A)

{5, 'd', 'e'}

**<font color=Red> Dictionaries </font>**<br>
a type of collection<br>
has keys and values<br>
the key is analogous to the index (like address, but they don't have to be integers)<br>
the values are similar to the elements in a list and contain information<br><br>
keys<br>
-are indices by labels<br>
-are the first elements<br>
-must be immutable and unique<br>
-each key is followed by a value separated by a colon<br><br>
values<br>
-can be immutable, mutable and duplicates<br>
-each key and value pair is separated by a comma

In [55]:
d1={"Blade Runner":1982, "Casino":1995, "other film":1995}
d1

{'Blade Runner': 1982, 'Casino': 1995, 'other film': 1995}

In [56]:
d1["Blade Runner"]

1982

In [57]:
d1["Pulp Fiction"]=1994
d1

{'Blade Runner': 1982,
 'Casino': 1995,
 'other film': 1995,
 'Pulp Fiction': 1994}

In [58]:
del(d1['other film'])
d1

{'Blade Runner': 1982, 'Casino': 1995, 'Pulp Fiction': 1994}

In [59]:
"Casino" in d1

True

In [60]:
"Mamma Mia" in d1

False

In [61]:
#see all the keys
d1.keys()

dict_keys(['Blade Runner', 'Casino', 'Pulp Fiction'])

In [62]:
#see all the values
d1.values()

dict_values([1982, 1995, 1994])

In [63]:
#list
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): {5, 5, 4}, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': {4, 5},
 (0, 1): 6}